<div class="list">
  <label class="item item-input-inset">
  <label class="item-input-wrapper">
    <input type="text"	ng-model="data.phone" placeholder="手机号" maxlength="11">
     </label>
  </label>

  <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="验证码" ng-model="data.code" maxlength="4" size="4">
    </label>
    <button class="button button-small button-positive" on-touch="obtainCode()" ng-disabled="data.btndisable">{{data.btnText}}</button>
  </div>
  <label style="color:red;font-size:1.5 em;" ng-show="data.show">{{data.info}}</label>
</div>