 
.my-content .title{ 
	background-image:url('/img/my/index/icon_bg.png');
	background-size:cover;
	background-repeat:no-repeat;
	padding-left:0;
	padding-top:0;
}
.my-content .title button{
	color:white;
	border:solid 1px #fff;
	margin-bottom:10px;
}
.my-content .title img{
	margin-top:10%;
	width:95%;
	height:95%;
}
.my-content .list .item #techlogo{
    margin-top: 20px;
}
.my-content .list .item #cardelete{
	margin-bottom: 46px;
    margin-left: -80px;
    width: 25px;
    height: 25px;
}
}
.center{
	text-align:center;
}