body{
	windth:100%;
	height:100%;
	margin:0px;
	padding:0px;
	font-size:0.8em;
	color:#666666;
}
ul{
	width:100%;
/* 	border:1px solid red; */
	list-style-type:none;
	
}
.course_addr{
	height:70px;
	padding-top:1%;
/* 	border:1px solid red; */
}
.course_addr li{
/* 	border:1px solid red; */
	margin-left:-10%;
}
.course_addr li.course_name{
	font-size:1.6em;
	font-weight:bold;
}
hr{
	 border:0;
	 border-top:1px solid #DDDDDD;
	 width:100%;
	 margin-bottom:0px;
}
.course_tip{
	margin-left:3%;
/* 	border:1px solid red; */
}
.course_tip img{
	width:13px;
	height:13px;
}
.course_img{
	width:100%;
	height:120px;
	margin-top:-1px;
	background-color:#999999;
}
.course_img ul{
	width:100%;
	height:100px;
	padding-top:2%;
}
.selected{
	width:118px;
	height:96px;
	float:left;
	margin-right:3px;
}
.unselected{
	width:92px;
	height:78px;
	float:left;
	margin-right:3px;
}
.img_01{
	margin-left:-5%;
}
.selected img{
	width:118px;
	height:96px;
	margin:5px 0px;
}
.unselected img{
	width:92px;
	height:78px;
	margin:10px 0px;
/* 	border:1px solid red; */
}
.course_desc{
	height:10%;
	clear:both;
/* 	border:1px solid red; */
}
.course_desc ul li{
	margin-left:-10%;
}
.course_desc span{
	font-size:1.4em;
	font-weight:900;
	margin-bottom:0px;
}
.class_hour{
	width:100%;
	height:40px;
	line-height:40px;
	background-color:#EEEEEE;
	color:#00AA00;
	margin:0px auto;
	font-size:1.6em;
	padding-left:1%;
/* 	border:1px solid red; */
}
.class_choice{
	width:100%;
	margin-left:-10%;
/* 	border:1px solid red; */
}
.class_choice li{
/* 	border:1px solid red; */
}
.class_choice li table{
	width:100%;
}
.time_star{
	font-size:1.4em;
	color:#000000;
	font-weight:bold;
}
.time_star span{
	color:#999999;
}
.time_end{
	font-size:1.4em;
}