<style type="text/css" rel="stylesheet">
.profileList-content{
	background-color:#f3f3f4	;	
}
</style>

<ion-view view-title="快乐语文●我的信息">
	<ion-content class="profileList-content">
	
		<div class="profile-info" style="background-color:white">
			<p class="detail">头像</p>
			<!-- 头像图片 -->
			<div class="avatar avatar-sm">
				<img ng-src="{{customer.headimgurl}}">
			</div>
		</div>
		
		<!-- 头像和姓名之间的间隙 -->
		<div class="v-spacer"></div>
		
	  	<div class="list">
			<!-- 姓名 -->
			<div class="item item-clickable" ng-click="toModifyName()">
					<div class="text-non-icon">姓名</div>
					<div class="desc" ng-bind="customer.name"></div>
					<i class="icon icon-right ion-ios-arrow-right"></i>
			</div>
			<!-- 性别 -->
			<div class="item item-clickable" ng-click="toModifySex()">
					<div class="text-non-icon">性别</div>
					<div class="desc" ng-bind="customer.sex"></div>
					<i class="icon icon-right ion-ios-arrow-right"></i>
			</div>
			<!-- 手机号码 -->
			<div class="item item-clickable"  ng-click="toModifyPhone()"> 
					<div class="text-non-icon">手机号码</div>             
					<div class="desc" ng-bind="customer.phone"></div>     
					<i class="icon icon-right ion-ios-arrow-right"></i>   
			</div>														  
		</div>
		
	</ion-content>
</ion-view>

